<html>

<body>
   <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-12 ">
               <div class="titlepage">
                  <h2>À propos de notre agence de voyage</h2>
                  <span> Réservez des vols partout dans le monde en quelques secondes à peine. Recevez des informations,
                     des mises à jour et des offres exclusives en temps réel .</span>
               </div>
            </div>
         </div>
      </div>
      <div class="bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="about-box">
                     <p> <span>Figurant parmi les agences de voyages en ligne leader du marché mondial, vous aide à
                           planifier votre voyage idéal. Que vous partiez en vacances, en voyage d'affaires ou que vous
                           souhaitiez . Vous recherchez d'excellentes offres de voyage ou souhaitez .
                           Il est facile de personnaliser votre expérience de voyage grâce aux nombreux filtres de
                           recherche de volset également grâce à ses outils de voyage tels que les alertes sur les
                           tarifs aériens, le calendrier des offres et les réservations anticipées. Le système de
                           paiement de est entièrement sécurisé et permet de payer facilement grâce à ses différents
                           modes de paiement comme les cartes de crédit, de débit et UnionPay.</span></p>
                     <div class="palne-img-area">
                        <img src="../../../assets/plane-img.png" alt="images">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id="travel" class="traveling">
      <div class="container">
         <div class="row">
            <div class="col-md-12 ">
               <div class="titlepage">
                  <h2>Sélectionnez des offres pour voyager</h2>
                  <span> Le système de paiement de est entièrement sécurisé et permet de payer facilement grâce à ses
                     différents modes de paiement comme les cartes de crédit, de débit et UnionPay.
                  </span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
               <div class="traveling-box">
                  <i><img src="../../../assets/prix.png" /></i>
                  <h3>Voyagez au meilleur prix</h3>
                  <p> Sélection irrésistible d’offres vol + hôtel disponibles au meilleur prix, toute l’année.</p>

               </div>
            </div>
            <div class=" col-xl-3 col-lg-3 col-md-6 col-sm-12">
               <div class="traveling-box">
                  <i><img src="../../../assets/param.png" /></i>
                  <h3>Voyage sur mesure </h3>
                  <p> Les conseils de nos experts sont adaptés à tous les budgets. </p>

               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
               <div class="traveling-box">
                  <i><img src="../../../assets/payer.png" alt="icon" /></i>
                  <h3>Payez en toute simplicité</h3>
                  <p> En étalant le paiement de votre voyage en 2 à 4 fois </p>

               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
               <div class="traveling-box">
                  <i><img src="../../../assets/voyager.png" /></i>
                  <h3>Voyagez en toute sérénité</h3>
                  <p> Nos équipes vous accompagnent tout au long de votre voyage. </p>

               </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>