.cPSpJy {
    margin-left: 0px;
    margin-right: 0px;
}

.cqLxmt {
    display: flex;
    padding-top: 32px;
    padding-bottom: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fjduYK {
    color: rgb(114, 54, 141);
    font-family: Nunito, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.bdKsOL {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px 0px;
    display: block;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ecNdqH {
    position: relative;
}

.bdKsOL .sc-fzoPby> :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*edhy*/
.laMpSM {
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.fxORek {
    height: 1px;
    width: 100%;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.iHZHav {
    display: flex;
    margin: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fxORek {
    height: 1px;
    width: 100%;
}

/* yuyhh */
.ebqwCE {
    padding-top: 24px;
}

.jWemNr {
    display: flex;
    flex-wrap: wrap;
}

.iPYVVU {
    display: flex;
    margin-right: 16px;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.iroIbA {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.kwKWrU {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/*edhy*/
.jXsQuw {
    margin-top: 16px;
}

.ehCZbf {
    display: flex;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

/*edhy*/
.kKinxH {
    width: 148px;
    margin-left: 16px;
    margin-right: 16px;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.ehCZbf {
    display: flex;
}

.dOfmVl {
    max-width: 172px;
}

.cEtsOO {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eSnnqf {
    flex-direction: row;
}

.qNiSW {
    margin-left: 48px;
}

.hFqiAU {
    margin-left: 0px;
    margin-right: 0px;
}

.klpDuS {
    margin-left: 0px;
    margin-right: 0px;
}

.cqLxmt {
    display: flex;
    padding-top: 32px;
    padding-bottom: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.bPanSu {
    margin-bottom: 16px;
}

.bPanSu {
    margin-bottom: 16px;
}

.VRlAx {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px 0px;
    display: block;
    position: relative;
    border-radius: 4px;
}

.leyCrB {
    display: block;
    position: sticky;
    top: 0px;
    z-index: 1020;
}

.cqLxmt {
    display: flex;
    padding-top: 32px;
    padding-bottom: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fjduYK {
    color: rgb(114, 54, 141);
    font-family: Nunito, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.ecNdqH {
    position: relative;
}

.VRlAx .sc-fzoPby> :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.iuNeAN {
    display: flex;
    padding: 16px 8px;
    flex-shrink: 0;
    flex-direction: column;
}

.jZQYrd {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ehCZbf {
    display: flex;
}

.gPeLrp {
    display: flex;
    width: 25px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.gufxTg {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.ehCZbf {
    display: flex;
}

.duoijd {
    text-align: initial;
    color: rgb(189, 189, 189);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    margin-right: 4px;
}

.fDnUoO {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    white-space: nowrap;
}

.jZQYrd {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ehCZbf {
    display: flex;
}

.cBCfgb {
    margin-right: 16px;
    margin-top: 0px;
}

.cBKiGB {
    text-align: initial;
    color: rgb(210, 55, 63);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.57;
}

.fxORek {
    height: 1px;
    width: 100%;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.iHZHav {
    display: flex;
    margin: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.dxHPoM {
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.kERYZo {
    text-decoration: underline;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(189, 189, 189);
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    flex-direction: row;
}

.kERYZo {
    text-decoration: underline;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(189, 189, 189);
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    flex-direction: row;
}

/*hhh*/
.gCyWKW {
    display: flex;
    flex-direction: column;
    cursor: auto;
}

:root {
    --theme-color-primary-darker: #51216b;
    --theme-color-primary-dark: #602a7b;
    --theme-color-primary: #72368d;
    --theme-color-primary-light: #7b4797;
    --theme-color-primary-lighter: #9057a3;
}

.fxORek::after {
    border-bottom: 1px solid rgb(209, 188, 220);
    border-top-color: rgb(209, 188, 220);
    border-right-color: rgb(209, 188, 220);
    border-left-color: rgb(209, 188, 220);
    content: "";
    display: block;
}

html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.jWemNr {
    display: flex;
    flex-wrap: wrap;
}

.ebqwCE {
    padding-top: 24px;
}

.ebqwCE {
    display: flex;
    padding: 16px;
    flex-direction: column;
}

.iPYVVU {
    display: flex;
    margin-right: 16px;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.dqgyEC {
    display: flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

.iroIbA {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.kwKWrU {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.yplly {
    text-align: initial;
    color: rgb(123, 71, 151);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.57;
    margin-right: 8px;
}

.gVNCRl {
    text-align: initial;
    color: rgb(123, 71, 151);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.jXsQuw {
    display: flex;
    margin-top: 8px;
}

.ehCZbf {
    display: flex;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.ehCZbf {
    display: flex;
}

.gVpbyP {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.57;
}

.lhaAnP {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.57;
    margin-left: 4px;
}

.dOfmVl {
    max-width: 172px;
}

.cEtsOO {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kKinxH {
    width: 148px;
    margin-left: 16px;
    margin-right: 16px;
}

.eCmdAR {
    border-bottom: 2px solid rgb(178, 147, 196);
    content: "";
    display: flex;
    flex: 1 1 0%;
    margin: 20px 8px;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.ehCZbf {
    display: flex;
}

.gVpbyP {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.57;
}

.lhaAnP {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.57;
    margin-left: 4px;
}

.kkPAQa {
    display: flex;
    margin-left: 4px;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.dOfmVl {
    max-width: 172px;
}

.cEtsOO {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eSnnqf {
    flex-direction: row;
}

.ehCZbf {
    display: flex;
}

.eSxlan {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.cXdaKw {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    margin-left: 4px;
    margin-right: 4px;
}

.eSxlan {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.cwLyjJ {
    margin-left: 24px;
}

.cwLyjJ {
    display: flex;
}

.guZOeE {
    text-decoration: underline;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(117, 117, 117);
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    flex-direction: row;
}

.guZOeE svg {
    margin-right: 8px;
}

.kAafPq>use {
    fill: rgb(144, 87, 163);
}

.guZOeE {
    text-decoration: underline;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(117, 117, 117);
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    flex-direction: row;
}

.gCyWKW {
    display: flex;
    flex-direction: column;
    cursor: auto;
}

.dOlBzl {
    display: flex;
    width: 30px;
    margin-right: 12px;
    flex-shrink: 0;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.bXOPpy {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(247, 248, 241);
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-weight: normal;
    padding: 16px;
    position: relative;
    border-radius: 4px;
}

.qNiSW {
    margin-left: 48px;
}

.eSxlan {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.fxORek {
    height: 1px;
    width: 100%;
}

.dSoiLX {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px 0px;
    display: block;
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ecNdqH {
    position: relative;
}

.dSoiLX .sc-fzoPby> :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cUta-df {
    padding: 16px;
}

.UgFJr {
    padding: 8px 8px 4px;
}

.niAzA {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.kzSYFA {
    margin-right: 32px;
    margin-bottom: 0px;
}

.gVpbyP {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.57;
}

.ehCZbf {
    display: flex;
}

.gxdlPs {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: row;
}

.kDePkd {
    align-items: flex-start;
    background: rgb(255, 255, 255);
    display: inline-flex;
    position: relative;
}

.IoApp {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(209, 188, 220);
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    pointer-events: none;
    visibility: visible;
    width: 20px;
}

.hycdnC {
    line-height: 1.25;
    padding: 0px 0px 0px 12px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 0%;
    pointer-events: none;
    -webkit-box-align: center;
    align-items: center;
}

.fOXUpi {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
}

.kDePkd {
    align-items: flex-start;
    background: rgb(255, 255, 255);
    display: inline-flex;
    position: relative;
}

.gxdlPs>*+* {
    margin: 0px 0px 0px 24px;
}

.IoApp {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(209, 188, 220);
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    pointer-events: none;
    visibility: visible;
    width: 20px;
}

.hycdnC {
    line-height: 1.25;
    padding: 0px 0px 0px 12px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 0%;
    pointer-events: none;
    -webkit-box-align: center;
    align-items: center;
}

.fOXUpi {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
}

.cKwEmr {
    margin-left: 16px;
}

.gRLdXd {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: 2px solid rgb(239, 238, 229);
    cursor: pointer;
    display: flex;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 20px;
}

.kmGxBb>use {
    fill: rgb(96, 42, 123);
}

.igkQwS {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.57;
    margin-left: 32px;
    white-space: nowrap;
}

.honIIp {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.57;
    margin-right: 4px;
}

.guZOeE svg {
    margin-right: 8px;
}

.guZOeE {
    text-decoration: underline;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(117, 117, 117);
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    flex-direction: row;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.ehCZbf {
    display: flex;
}

.cRtZnR {
    display: flex;
    flex-direction: column;
}

.bdKsOL {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px 0px;
    display: block;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ecNdqH {
    position: relative;
}

.imDHzu {
    margin: auto;
    width: 1200px;
}

.ftxzzg {
    margin-bottom: 48px;
}

.eEMfeS {
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.eEMfeS {
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.cqLxmt {
    display: flex;
    padding-top: 32px;
    padding-bottom: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fjduYK {
    color: rgb(114, 54, 141);
    font-family: Nunito, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.bPanSu {
    margin-bottom: 8px;
}

.gatuqC {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px 0px;
    display: block;
    position: relative;
    border-radius: 4px;
}

.ejSgoq {
    position: relative;
}

.YItmq {
    place-content: stretch flex-start;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    padding: 16px;
}

svg {
    height: 20;
    width: 20;
}

.bhToPH>use {
    fill: rgb(123, 71, 151);
}

.fXNGmD {
    place-content: stretch flex-start;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-left: 12px;
    opacity: 1;
}

.cpuVRI {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.fuoWjQ {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 4px;
}

.fxORek {
    height: 1px;
    width: 100%;
}

.gatuqC .sc-fzqzEs> :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.jJNgjT {
    display: flex;
    padding: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.jpcuP {
    grid-template-areas:
        "DetailsMessage DetailsMessage DetailsMessage DetailsMessage DetailsMessage DetailsMessage DetailsMessage DetailsMessage"
        "GenderSelectorArea GenderSelectorArea GenderSelectorArea GenderSelectorArea . . . ."
        "FirstNameArea FirstNameArea FirstNameArea FirstNameArea LastNameArea LastNameArea LastNameArea LastNameArea"
        "DobArea DobArea DobArea DobArea . . . ."
        "RedressNumberArea RedressNumberArea RedressNumberArea RedressNumberArea . . . ."
        "NationalityArea NationalityArea NationalityArea NationalityArea . . . ."
        "PassportNumberArea PassportNumberArea PassportNumberArea PassportNumberArea PassportExpirationDateArea PassportExpirationDateArea PassportExpirationDateArea PassportExpirationDateArea"
        "IssueCountryArea IssueCountryArea IssueCountryArea IssueCountryArea . . . ."
        "FrequentFlyerAddArea FrequentFlyerAddArea FrequentFlyerAddArea FrequentFlyerAddArea FrequentFlyerAddArea FrequentFlyerAddArea FrequentFlyerAddArea FrequentFlyerAddArea"
        "FrequentFlyerAirlineArea FrequentFlyerAirlineArea FrequentFlyerAirlineArea FrequentFlyerAirlineArea FrequentFlyerNumberArea FrequentFlyerNumberArea FrequentFlyerNumberArea FrequentFlyerNumberArea"
        "FrequentFlyerRemoveArea FrequentFlyerRemoveArea FrequentFlyerRemoveArea FrequentFlyerRemoveArea . . . ."
        "LuggageArea LuggageArea LuggageArea LuggageArea LuggageArea LuggageArea LuggageArea LuggageArea"
        ". . . . ControlsArea ControlsArea ControlsArea ControlsArea";
    column-gap: 12px;
    grid-template-columns: repeat(8, 1fr);
}

.izcPCi {
    grid-area: DetailsMessage / DetailsMessage / DetailsMessage / DetailsMessage;
    margin-bottom: 16px;
}

.bXOPpy {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(247, 248, 241);
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-weight: normal;
    padding: 16px;
    position: relative;
    border-radius: 4px;
}

.hiPWIs {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding-right: 12px;
}

.kpQCgY {
    display: flex;
    width: 39px;
    position: absolute;
    right: -4px;
    top: -4px;
    flex-direction: column;
}

.eGAfFo {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.jFepqJ {
    grid-area: GenderSelectorArea / GenderSelectorArea / GenderSelectorArea / GenderSelectorArea;
}

.kXxULe {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: row;
}

.kcXhyu {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    position: relative;
    border: 2px solid rgb(209, 188, 220);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex: 1 1 0%;
}

.IoApp {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(209, 188, 220);
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    pointer-events: none;
    visibility: visible;
    width: 20px;
}

.hycdnC {
    line-height: 1.25;
    padding: 0px 0px 0px 12px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 0%;
    pointer-events: none;
    -webkit-box-align: center;
    align-items: center;
}

.fOXUpi {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
}

button,
input,
select,
textarea {
    margin: 0px;
}

.kXxULe>*+* {
    margin: 0px 0px 0px 8px;
}

.kcXhyu {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    position: relative;
    border: 2px solid rgb(209, 188, 220);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex: 1 1 0%;
}

.gnOQsj {
    border: 2px solid rgb(0, 176, 255);
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    pointer-events: none;
    visibility: visible;
    width: 20px;
    background: rgb(0, 176, 255);
    box-shadow: rgb(255 255 255) 0px 0px 0px 3px inset;
}

.hycdnC {
    line-height: 1.25;
    padding: 0px 0px 0px 12px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 0%;
    pointer-events: none;
    -webkit-box-align: center;
    align-items: center;
}

.fOXUpi {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
}

.dMRXYm {
    grid-area: FirstNameArea / FirstNameArea / FirstNameArea / FirstNameArea;
}

.fzfUae {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    width: 100%;
}

.fQBmen {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-top: 16px;
    opacity: 1;
}

.cQxAsH {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-right: 8px;
    opacity: 1;
}

.ihgchQ {
    line-height: 1.25;
    padding: 0px;
    margin: 0px 0px 8px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: rgb(117, 117, 117);
    font-weight: 400;
}

.daYFJP {
    display: inline-block;
    width: 100%;
    position: relative;
}

.daYFJP .sc-pJUVA {
    padding-right: 40px;
}

.daYFJP>input {
    box-sizing: border-box;
    width: 100%;
}

.ghIxEK {
    appearance: none;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 48px;
    line-height: normal;
    letter-spacing: normal;
    padding: 12px;
    box-shadow: none;
    border: 2px solid rgb(209, 188, 220);
    border-radius: 4px;
}

button,
input,
select,
textarea {
    margin: 0px;
}

.bpuTtO {
    grid-area: LastNameArea / LastNameArea / LastNameArea / LastNameArea;
}

.fzfUae {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    width: 100%;
}

.fQBmen {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-top: 16px;
    opacity: 1;
}

.cQxAsH {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-right: 8px;
    opacity: 1;
}

.ihgchQ {
    line-height: 1.25;
    padding: 0px;
    margin: 0px 0px 8px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: rgb(117, 117, 117);
    font-weight: 400;
}

.daYFJP {
    display: inline-block;
    width: 100%;
    position: relative;
}

.daYFJP .sc-pJUVA {
    padding-right: 40px;
}

.daYFJP>input {
    box-sizing: border-box;
    width: 100%;
}

.ghIxEK {
    appearance: none;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 48px;
    line-height: normal;
    letter-spacing: normal;
    padding: 12px;
    box-shadow: none;
    border: 2px solid rgb(209, 188, 220);
    border-radius: 4px;
}

.cBpAgy {
    grid-area: DobArea / DobArea / DobArea / DobArea;
}

.fzfUae {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    width: 100%;
}

.fQBmen {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-top: 16px;
    opacity: 1;
}

.cQxAsH {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    margin-right: 8px;
    opacity: 1;
}

.ihgchQ {
    line-height: 1.25;
    padding: 0px;
    margin: 0px 0px 8px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: rgb(117, 117, 117);
    font-weight: 400;
}

.CNlcm {
    width: 100%;
}

.eEPsWb.eEPsWb {
    display: block;
}

.dspvED {
    display: inline-block;
    width: 100%;
    position: relative;
}

.dspvED>input {
    box-sizing: border-box;
    width: 100%;
}

.jddEaS {
    appearance: none;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 48px;
    line-height: normal;
    letter-spacing: normal;
    padding: 12px;
    box-shadow: none;
    border: 2px solid rgb(244, 205, 207);
    border-radius: 4px;
}

.bEwmuW {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 48px;
}

.igwMpE>use {
    fill: rgb(210, 55, 63);
}

.hZlPZM.hZlPZM {
    display: block;
    margin-top: -48px;
    position: relative;
}

.daYFJP {
    display: inline-block;
    width: 100%;
    position: relative;
}

.daYFJP .sc-pJUVA {
    padding-right: 40px;
}

.hZlPZM>input {
    background-color: transparent;
}

.daYFJP>input {
    box-sizing: border-box;
    width: 100%;
}

.jddEaS {
    appearance: none;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 48px;
    line-height: normal;
    letter-spacing: normal;
    padding: 12px;
    box-shadow: none;
    border: 2px solid rgb(244, 205, 207);
    border-radius: 4px;
}

.daYFJP .sc-oTbqq {
    margin-top: -4px;
}

.cduBqu {
    background: rgb(244, 205, 207);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    padding: 16px;
    position: relative;
}

.bEwmuW {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 48px;
}

.jUBnGr {
    display: flex;
    grid-area: ControlsArea / ControlsArea / ControlsArea / ControlsArea;
    margin-top: 24px;
    margin-bottom: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.kowRbn {
    display: inline-flex;
    width: auto;
}

.cDMXet {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-family: Nunito, sans-serif;
    line-height: 1.2;
    max-width: 100%;
    width: 100%;
    flex-direction: row-reverse;
    min-height: 48px;
    background-image: linear-gradient(rgb(154, 202, 15), rgb(115, 184, 40));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px, rgb(73, 163, 69) 0px -3px 0px 0px inset;
    color: rgb(252, 253, 249);
    font-size: 22px;
    font-weight: 600;
    text-shadow: rgb(73, 163, 69) 0px 2px 0px;
    transition: filter 0.2s ease-out 0s, transform;
    border-radius: 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 8px 24px;
}

.addPassanger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Nunito, sans-serif;
    line-height: 1.2;
    max-width: 100%;
    width: 100%;
    flex-direction: row-reverse;
    min-height: 48px;
    background-image: linear-gradient(rgb(15 202 174), rgb(40 184 163));
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px, rgb(69 163 143) 0px -3px 0px 0px inset;
    color: rgb(252, 253, 249);
    font-size: 22px;
    font-weight: 600;
    text-shadow: rgb(69 163 133) 0px 2px 0px;
    transition: filter 0.2s ease-out 0s, transform;
    border-radius: 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 8px 24px;
    margin-right: 20px;
}


button,
input,
select,
textarea {
    margin: 0px;
}

.IiTRs {
    background: rgb(239, 238, 229);
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.gCyWKW {
    display: flex;
    flex-direction: column;
    cursor: auto;
}

form {
    display: block;
    margin-top: 0em;
}

.imDHzu {
    margin: auto;
    width: 75%;
}

.ftxzzg {
    margin-bottom: 48px;
}

.eEMfeS {
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.dtoZge {
    grid-area: BookerArea / BookerArea / BookerArea / BookerArea;
    margin-bottom: 12px;
}

.ihgchQ {
    line-height: 1.25;
    padding: 0px;
    margin: 0px 0px 8px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: rgb(117, 117, 117);
    font-weight: 400;
}

.fzfUae {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    width: 50%;
}

.ldImiq {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.hROsPi {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.kCQNAb {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 46px;
    border-left: 2px dotted rgb(236, 225, 239);
}

.kAafPq>use {
    fill: rgb(144, 87, 163);
}

.eMylmX {
    appearance: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 0px;
    width: 100%;
    border: 2px solid rgb(209, 188, 220);
    border-radius: 4px;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    height: 48px;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

button,
input,
select,
textarea {
    margin: 0px;
}

.VRlAx .sc-fzoPby> :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cUta-df {
    padding: 16px;
}

.leyCrB {
    display: block;
    position: sticky;
    top: 0px;
    z-index: 1020;
}

.klpDuS {
    margin-left: 0px;
    margin-right: 0px;
}

.cqLxmt {
    display: flex;
    padding-top: 32px;
    padding-bottom: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fjduYK {
    color: rgb(114, 54, 141);
    font-family: Nunito, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.VRlAx {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 3px 0px;
    display: block;
    position: relative;
    border-radius: 4px;
}

.ecNdqH {
    position: relative;
}

.VRlAx .sc-fzoPby> :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.iuNeAN {
    display: flex;
    padding: 16px 8px;
    flex-shrink: 0;
    flex-direction: column;
}

.jZQYrd {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ehCZbf {
    display: flex;
}

.gPeLrp {
    display: flex;
    width: 25px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.gbVuMb {
    text-align: initial;
    color: rgb(114, 54, 141);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.57;
    margin-right: 12px;
}

.gufxTg {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.ehCZbf {
    display: flex;
}

.duoijd {
    text-align: initial;
    color: rgb(189, 189, 189);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    margin-right: 4px;
}

.fDnUoO {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    white-space: nowrap;
}

.jZQYrd {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ehCZbf {
    display: flex;
}

.gPeLrp {
    display: flex;
    width: 25px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.gbVuMb {
    text-align: initial;
    color: rgb(114, 54, 141);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.57;
    margin-right: 12px;
}

.gufxTg {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.ehCZbf {
    display: flex;
}

.eSxlan {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.jZQYrd {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.gPeLrp {
    display: flex;
    width: 25px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.gbVuMb {
    text-align: initial;
    color: rgb(114, 54, 141);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.57;
    margin-right: 12px;
}

.gufxTg {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.eSxlan {
    text-align: initial;
    color: rgb(117, 117, 117);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.ixQaxp {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    position: relative;
}

.gbUILL {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    opacity: 1;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.bscOFQ {
    place-content: stretch center;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: center;
    margin-right: 8px;
    margin-top: 2px;
    opacity: 1;
    width: 20px;
}

.cLlitC>use {
    fill: rgb(0, 178, 80);
}

.dgURSw {
    place-content: stretch flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    -webkit-box-pack: start;
    opacity: 1;
}

.hncImI {
    place-content: stretch space-between;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -webkit-box-pack: justify;
    opacity: 1;
}

.bhtucc {
    text-align: initial;
    color: rgb(0, 178, 80);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.kVdryf {
    display: flex;
    padding: 4px 8px 8px;
    flex-shrink: 0;
}

.cEfRMl {
    text-decoration: underline;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(117, 117, 117);
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    flex-direction: row-reverse;
}

.cEfRMl svg {
    flex-shrink: 0;
    margin-left: 4px;
}

.fxORek {
    height: 1px;
    width: 100%;
}

.hUowGk {
    display: flex;
    padding: 24px 8px 12px;
    flex-shrink: 0;
    flex-direction: column;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.gufxTg {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.fDnUoO {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    white-space: nowrap;
}

.ksfjIy {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.gufxTg {
    text-align: initial;
    color: rgb(65, 65, 65);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.bhtucc {
    text-align: initial;
    color: rgb(0, 178, 80);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
}

.VRlAx .sc-fzoPby> :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bnpbUg {
    background: rgb(114, 54, 141);
    display: flex;
    padding: 20px 16px;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.elRzkz {
    text-align: initial;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
}

.cKvicq {
    display: inline-flex;
    align-items: flex-end;
}

.cKvicq>span:last-child {
    margin-left: 3px;
    margin-bottom: 0px;
}

.dbpfvr {
    display: inline-block;
}

.knKlXk {
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.knKlXk>.sc-fzpdyU {
    margin-left: 3px;
}

.dEDRcl {
    display: inline-flex;
    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    font-family: Nunito, sans-serif;
    font-weight: 700;
}

.KWQxn {
    display: flex;
    position: relative;
    align-self: stretch;
    -webkit-box-align: center;
    align-items: center;
}

.bMtBwF {
    display: inline-flex;
    font-size: 22px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    font-family: Nunito, sans-serif;
    font-weight: 700;
}

.dpISgq {
    display: inline-flex;
    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    font-family: Nunito, sans-serif;
    font-weight: 700;
    align-self: flex-start;
    height: 100%;
}