@import '~bootstrap/dist/css/bootstrap.min.css';

.logo-plateform {
    width: 108px;
    margin-right: 4%;
    margin-bottom: 0%;
}

.plateform-text {
    font-weight: bold;
    font-size: 20px;
}

.icon-btn-action {
    margin-right: 5px;
}

.icon-login{
    width: 23%;
}

.login-btn{
    padding: 0px;
}