<div class="container">
    <div *ngFor="let flight of listFlights" class="FlightsTicket_container__NWJkY">
        <a class="FlightsTicket_link__ODZjM">
            <div role="button" class="BpkTicket_bpk-ticket__NTM0M">
                <div
                    class="BpkTicket_bpk-ticket__paper__ZTQxN BpkTicket_bpk-ticket__main__ZGZlY BpkTicket_bpk-ticket__main--padded__OGJhY BpkTicket_bpk-ticket__main--horizontal__NmZkO">
                    <div class="FlightsTicketBody_container__OTEwN">
                        <div class="UpperTicketBody_container__NDcwM">

                            <div class="UpperTicketBody_legsContainer__ZjcyZ">
                                <div class="LegDetails_container__MTkyZ UpperTicketBody_leg__MmNkN" aria-hidden="true">
                                    <div
                                        class="LogoImage_container__MDU0Z LegLogo_logoContainer__ODdkM UpperTicketBody_legLogo__ZjYwM">
                                        <div class="LegLogo_legImage__MmY0Z">
                                            <div class="BpkImage_bpk-image__NTQ2Y BpkImage_bpk-image--no-background__NWRkO"
                                                style="height: 0px; padding-bottom: 100%;"><img
                                                    class="BpkImage_bpk-image__img__OTRhN" alt="Nouvelair"
                                                    src="./assets/companiesLogo/{{flight.company.name}}.png"></div>
                                        </div>
                                    </div>
                                    <div class="LegInfo_legInfo__ZGMzY">
                                        <div class="LegInfo_routePartialDepart__NzEwY"><span
                                                class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--lg__Nzk0N LegInfo_routePartialTime__OTFkN">
                                                <div><span
                                                        class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--subheading__MDhjZ">{{flight.datedep
                                                        | date: "HH:mm"}}</span>
                                                </div>
                                            </span><span
                                                class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--body-default__MzkyN">
                                                <div class="airportdep" tabindex="0"
                                                    aria-label="Monastir, MIR, Tunisie">
                                                    <span
                                                        class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--body-default__MzkyN LegInfo_routePartialCityTooltip__NTE4Z">{{flight.airportDep.abbreviation}}</span>
                                                </div>
                                            </span></div>
                                        <div class="LegInfo_stopsContainer__NWIyN"><span
                                                class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--xs__MTAxY Duration_duration__NmUyM">{{flight.duration}}</span>
                                            <div class="LegInfo_stopLine__MzUxZ"><svg id="Layer_1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 12 12" enable-background="new 0 0 12 12"
                                                    xml:space="preserve" class="LegInfo_planeEnd__ZDkxM">
                                                    <path fill="#898294"
                                                        d="M3.922,12h0.499c0.181,0,0.349-0.093,0.444-0.247L7.949,6.8l3.233-0.019C11.625,6.791,11.989,6.44,12,6 c-0.012-0.44-0.375-0.792-0.818-0.781L7.949,5.2L4.866,0.246C4.77,0.093,4.602,0,4.421,0L3.922,0c-0.367,0-0.62,0.367-0.489,0.71 L5.149,5.2l-2.853,0L1.632,3.87c-0.084-0.167-0.25-0.277-0.436-0.288L0,3.509L1.097,6L0,8.491l1.196-0.073 C1.382,8.407,1.548,8.297,1.632,8.13L2.296,6.8h2.853l-1.716,4.49C3.302,11.633,3.555,12,3.922,12">
                                                    </path>
                                                </svg></div>
                                            <div class="LegInfo_stopsLabelContainer__MmM0Z"><span
                                                    class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--xs__MTAxY LegInfo_stopsLabelGreen__YWM4M">Direct</span>&nbsp;
                                                <div class="LegInfo_stopsRow__MTUwZ"></div>
                                            </div>
                                        </div>
                                        <div class="LegInfo_routePartialArrive__Y2U1N"><span
                                                class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--lg__Nzk0N LegInfo_routePartialTime__OTFkN">
                                                <div><span
                                                        class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--subheading__MDhjZ">{{flight.datearriv
                                                        | date: "HH:mm"}}</span>
                                                </div>
                                            </span><span
                                                class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--body-default__MzkyN">
                                                <div class="airportarriv" tabindex="0"
                                                    aria-label="Paris Charles-de-Gaulle, CDG, France">
                                                    <span
                                                        class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--body-default__MzkyN LegInfo_routePartialCityTooltip__NTE4Z">{{flight.airportArriv.abbreviation}}</span>
                                                </div>
                                            </span></div>
                                    </div>
                                    <span
                                        class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--xs__MTAxY Operators_operator__ZDk4Y">Opéré
                                        par {{flight.company.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="FlightsTicketBody_bodyHorizontalRule__NjgxM FlightsTicketBody_horizontalRule__MGI4O">
                        </div>
                        <div class="FlightsTicketBody_lowerBodyContainer__MjQ1Z">
                            <div class="BaggageMessaging_container__ZmI5M"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" width="18" height="18"
                                    class="BaggageMessaging_baggageIcon__YjI2Y"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M12 1.5c-2.703 0-4.688 1.426-5.543 2.46C6.111 4.38 6 4.895 6 5.32v1.43a.75.75 0 0 1-.75.75H4.5a3 3 0 0 0-3 3v9a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-9a3 3 0 0 0-3-3h-.75a.75.75 0 0 1-.75-.75V5.385c0-.514-.162-1.074-.555-1.5C16.547 2.914 14.693 1.5 12 1.5zm2.625 6h-5.25C9.168 7.5 9 7.276 9 7v-.583c0-.264.075-.52.23-.684C9.751 5.176 10.721 4.5 12 4.5c1.276 0 2.208.676 2.758 1.262.16.171.242.436.242.71V7c0 .276-.168.5-.375.5z">
                                    </path>
                                </svg>&nbsp;<span
                                    class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--xs__MTAxY BaggageMessaging_text__MDBjN">Coût
                                    d'un bagage enregistré&nbsp;: {{flight.bagCost}} €</span></div>
                        </div>
                    </div>
                </div>
                <div class="BpkTicket_bpk-ticket__paper__ZTQxN BpkTicket_bpk-ticket__stub__Y2M3M Ticket_stub__NGYxN BpkTicket_bpk-ticket__stub--padded__ZTlkM BpkTicket_bpk-ticket__stub--horizontal__YjRhZ"
                    style="
                width: 0px;
            ">
                    <div class="TicketStub_horizontalStubContainer__YjM5M"><span
                            class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--xs__MTAxY DealsFrom_dealsText__Y2Q2O">{{flight.seat}}
                            offres dès</span>
                        <div class="">
                            <div class="Price_mainPriceContainer__MDM3O"><span
                                    class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--lg__Nzk0N">{{flight.price}}
                                    TND</span>
                            </div>
                        </div><span></span>
                        <button type="button" (click)="reserver(flight)"
                            class="BpkButtonBase_bpk-button__MmIzZ TicketStub_ctaButton__OTNjO">Reserver&nbsp;<span
                                style="line-height: 1.125rem; display: inline-block; margin-top: 0.1875rem; vertical-align: top;"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    class="BpkIcon_bpk-icon--rtl-support__ZjVhM" fill="white"
                                    style="width: 1.125rem; height: 1.125rem;">
                                    <path
                                        d="M3 12a1.5 1.5 0 0 0 1.5 1.5h11.379l-4.94 4.94a1.5 1.5 0 0 0 2.122 2.12l7.5-7.5a1.5 1.5 0 0 0 0-2.12l-7.5-7.5a1.5 1.5 0 0 0-2.122 2.12l4.94 4.94H4.5A1.5 1.5 0 0 0 3 12z"
                                        clip-rule="evenodd"></path>
                                </svg></span>
                        </button>
                        <div class="FarePolicy_container__MzcxZ"><span
                                class="BpkText_bpk-text__ZWIzZ BpkText_bpk-text--xs__MTAxY FarePolicy_text__ZjFlY"><span>Ce
                                    billet est non-remboursable et non-modifiable</span></span></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>