.payment-form {
    padding-bottom: 140px;
    font-family: 'Montserrat', sans-serif;
}

.payment-form.dark {
    background-color: #f6f6f6;
    margin-bottom: 5%;
}

.payment-form .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
}

.payment-form .block-heading {
    padding-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}

.payment-form .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7;
}

.payment-form.dark .block-heading p {
    opacity: 0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
    margin-bottom: 1.2rem;
    padding: 0 0 1.875rem 1.5rem;
    color: #fff;
    font-size: 2.75rem !important;
    line-height: 1.3 !important;
    font-weight: 700;
}

.payment-form form {
    border-top: 2px solid #5ea4f3;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #042759;
    padding: 0;
    max-width: 1000px;
    height: auto;
    margin: auto;
    padding: 0px 0px 25px;
    border-style: groove;
    border-radius: 20px;
}

.payment-form .title {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}

.payment-form .products {
    background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item {
    margin-bottom: 1em;
}

.payment-form .products .item-name {
    font-weight: 600;
    font-size: 0.9em;
}

.payment-form .products .item-description {
    font-size: 0.8em;
    opacity: 0.6;
}

.payment-form .products .item p {
    margin-bottom: 0.2em;
}

.payment-form .products .price {
    float: right;
    font-weight: 600;
    font-size: 0.9em;
}

.payment-form .products .total {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 19px;
    font-weight: 600;
    line-height: 1;
}

.payment-form .card-details {
    padding: 25px 25px 15px;
}

.payment-form .card-details label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}

.payment-form .card-details button {
    margin-top: 0.6em;
    padding: 12px 0;
    font-weight: 600;
}

.payment-form .date-separator {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
    .payment-form .title {
        font-size: 1.2em;
    }

    .payment-form .products {
        padding: 40px;
    }

    .payment-form .products .item-name {
        font-size: 1em;
    }

    .payment-form .products .price {
        font-size: 1em;
    }

    .payment-form .card-details {
        padding: 40px 40px 20px;
    }

    .payment-form .card-details button {
        margin-top: 2em;
    }
}

.btn-search {
    width: 20%;
    margin-left: 76%;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.375rem;
    background-image: linear-gradient(-180deg, #00a698, #00a698);
    background-image: linear-gradient(-180deg, var(--bpk-button-primary-gradient-start-color, #00a698), var(--bpk-button-primary-gradient-end-color, #00a698));
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    color: var(--bpk-button-primary-text-color, #fff);
    background-color: #00a698;
    background-color: var(--bpk-button-primary-background-color, #00a698);
    font-size: 1.1875rem;
    font-size: var(--bpk-button-font-size, 1.1875rem);
}

.search-bar {
    background-image: URL("https://www.321voyages.com/images/home/bg/vol/vol.jpg");
}

.title {
    padding: 0 0 1.875rem 1.5rem;
    color: #fff;
    font-size: 3.75rem !important;
    line-height: 1.3 !important;
    font-weight: 700;
}

.card-style {
    max-width: 55%;
    margin: 0 auto;
    position: relative;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: none;
    color: #111236;
    text-decoration: none;
    box-shadow: 0 5px 12px rgb(0 0 0 / 8%), 0 3px 12px rgb(0 0 0 / 8%);
    cursor: pointer;
    border-radius: 0.75rem;
    z-index: 0;
}

.BpkTicket_bpk-ticket__main--padded__OGJhY {
    padding: 1rem;
}

.BpkTicket_bpk-ticket__main--horizontal__NmZkO {
    border-radius: 0.75rem 0 0 0.75rem;
}

.BpkTicket_bpk-ticket__main__ZGZlY {
    flex: 2 1 auto;
}

.BpkTicket_bpk-ticket__paper__ZTQxN {
    position: relative;
    background-color: #fff;
}

.FlightsTicketBody_container__OTEwN {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.UpperTicketBody_container__NDcwM {
    display: block;
    flex-grow: 1;
}

.UpperTicketBody_partnershipRow__NzQ1Y {
    display: flex;
    justify-content: space-between;
}

.UpperTicketBody_ticketLogo__Nzc1Z {
    display: flex;
    margin-bottom: 0.75rem;
    align-items: center;
}

.TicketLogo_image__MjA0N {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
}

.BpkImage_bpk-image--no-background__NWRkO {
    background-color: initial;
}

.BpkImage_bpk-image__NTQ2Y {
    opacity: 1;
    position: relative;
    display: block;
    max-width: 100%;
    transition: background-color .4s ease-in-out;
    background-color: #dddde5;
    overflow: hidden;
    transition-delay: .4s;
}

.BpkImage_bpk-image__img__OTRhN {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    transition: opacity .4s ease-in-out;
}

img {
    border-style: none;
}

.BpkText_bpk-text--xs__MTAxY {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.UpperTicketBody_screenReaderOnly__YTY2Z:not(:focus):not(:active) {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.UpperTicketBody_legsContainer__ZjcyZ {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LegDetails_container__MTkyZ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.LegLogo_logoContainer__ODdkM {
    margin-top: 0.375rem;
    flex: 1 1 22%;
}

.LogoImage_container__MDU0Z {
    color: #68697f;
}

.LegLogo_legImage__MmY0Z {
    max-width: 3.75rem;
}

.BpkImage_bpk-image--no-background__NWRkO {
    background-color: initial;
}

.BpkImage_bpk-image__NTQ2Y {
    opacity: 1;
    position: relative;
    display: block;
    max-width: 100%;
    transition: background-color .4s ease-in-out;
    background-color: #dddde5;
    overflow: hidden;
    transition-delay: .4s;
}

.BpkImage_bpk-image__img__OTRhN {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    transition: opacity .4s ease-in-out;
}

img {
    border-style: none;
}

.LegInfo_legInfo__ZGMzY {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 78%;
    text-align: center;
}

.LegInfo_routePartialDepart__NzEwY {
    display: flex;
    max-width: 32%;
    padding-right: 0.375rem;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 1 32%;
    text-align: right;
}

.LegInfo_routePartialTime__OTFkN {
    color: #444560;
}

.BpkText_bpk-text--lg__Nzk0N {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.BpkText_bpk-text--subheading__MDhjZ {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.BpkText_bpk-text--body-default__MzkyN {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.LegInfo_routePartialCityTooltip__NTE4Z {
    color: #68697f;
    cursor: help;
}

.BpkText_bpk-text--body-default__MzkyN {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.LegInfo_stopsContainer__NWIyN {
    max-width: 36%;
    padding: 0 0.375rem;
    flex: 0 1 36%;
    text-align: center;
}

.Duration_duration__NmUyM {
    color: #444560;
}

.BpkText_bpk-text--xs__MTAxY {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.LegInfo_stopLine__MzUxZ {
    position: relative;
    display: block;
    width: 90%;
    height: 0.125rem;
    margin: 0.375rem auto;
    padding: 0;
    border-radius: 0.375rem;
    background-color: #68697f;
    line-height: 0;
    text-align: center;
}

svg:not(:root) {
    overflow: hidden;
}

.LegInfo_planeEnd__ZDkxM {
    position: absolute;
    top: 50%;
    right: -0.375rem;
    display: block;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    padding-left: 0.25rem;
    background-color: #fff;
}

.LegInfo_stopsLabelContainer__MmM0Z {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.LegInfo_stopsLabelGreen__YWM4M {
    color: #00a698;
    white-space: pre;
}

.BpkText_bpk-text--xs__MTAxY {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.LegInfo_stopsRow__MTUwZ {
    display: flex;
}

.LegInfo_routePartialArrive__Y2U1N {
    display: flex;
    max-width: 32%;
    padding-left: 0.375rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 32%;
    text-align: left;
}

.LegInfo_routePartialTime__OTFkN {
    color: #444560;
}

.BpkText_bpk-text--lg__Nzk0N {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.BpkText_bpk-text--subheading__MDhjZ {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.BpkText_bpk-text--body-default__MzkyN {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.LegInfo_routePartialCityTooltip__NTE4Z {
    color: #68697f;
    cursor: help;
}

.BpkText_bpk-text--body-default__MzkyN {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.FlightsTicketBody_bodyHorizontalRule__NjgxM {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

.FlightsTicketBody_horizontalRule__MGI4O {
    width: 100%;
    height: 0.0625rem;
    box-shadow: inset 0 1px 0 0 #dddde5;
}

.FlightsTicketBody_lowerBodyContainer__MjQ1Z {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BaggageMessaging_container__ZmI5M {
    display: flex;
    margin-top: 0.375rem;
    align-items: center;
    flex-grow: 1;
    flex-basis: 40%;
    color: #68697f;
    fill: #68697f;
}

svg:not(:root) {
    overflow: hidden;
}

.BaggageMessaging_baggageIcon__YjI2Y {
    align-self: flex-start;
}

.FlightsTicket_container__NWJkY {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.FlightsTicket_link__ODZjM {
    display: block;
    text-decoration: none;
}

.BpkTicket_bpk-ticket__NTM0M {
    position: relative;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: none;
    color: #111236;
    text-decoration: none;
    box-shadow: 0 5px 12px rgb(0 0 0 / 8%), 0 3px 12px rgb(0 0 0 / 8%);
    cursor: pointer;
    border-radius: 0.75rem;
    z-index: 0;
}

.Ticket_stub__NGYxN {
    display: flex;
    padding: 1.125rem;
    justify-content: center;
    align-items: center;
}

.BpkTicket_bpk-ticket__stub--padded__ZTlkM {
    padding: 1rem;
}

.BpkTicket_bpk-ticket__stub--horizontal__YjRhZ {
    min-width: 30%;
    border-radius: 0 0.75rem 0.75rem 0;
    box-shadow: inset 0.0625rem 0 0 #cdcdd7;
}

.BpkTicket_bpk-ticket__stub__Y2M3M {
    flex: 1 1 auto;
}

.BpkTicket_bpk-ticket__paper__ZTQxN {
    position: relative;
    background-color: #fff;
}

.TicketStub_horizontalStubContainer__YjM5M {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.DealsFrom_dealsText__Y2Q2O {
    color: #8f90a0;
}

.BpkText_bpk-text--xs__MTAxY {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.Price_mainPriceContainer__MDM3O {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BpkText_bpk-text--lg__Nzk0N {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

.TicketStub_ctaButton__OTNjO {
    margin-top: 0.375rem;
}

.BpkButtonBase_bpk-button__MmIzZ {
    display: inline-block;
    min-height: 2.25rem;
    margin: 0;
    padding: 0.375rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    background-image: linear-gradient(-180deg, #00a698, #00a698);
    background-image: linear-gradient(-180deg, var(--bpk-button-primary-gradient-start-color, #00a698), var(--bpk-button-primary-gradient-end-color, #00a698));
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    color: var(--bpk-button-primary-text-color, #fff);
    background-color: #00a698;
    background-color: var(--bpk-button-primary-background-color, #00a698);
    font-size: 1.1875rem;
    font-size: var(--bpk-button-font-size, 1.1875rem);
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}

.BpkButtonBase_bpk-button__MmIzZ span>svg {
    display: block;
}

.BpkButtonBase_bpk-button__MmIzZ svg {
    fill: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

.FarePolicy_container__MzcxZ {
    display: flex;
    margin-top: 0.375rem;
    align-items: center;
    flex-grow: 1;
    flex-basis: 40%;
    text-align: center;
}

.Operators_operator__ZDk4Y {
    margin-top: 0.375rem;
    flex: 1 0 100%;
    color: #b2b2bf;
    text-align: left;
}

.BpkText_bpk-text--xs__MTAxY {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.FarePolicy_text__ZjFlY {
    color: #68697f;
}

.BpkText_bpk-text--xs__MTAxY {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.BpkText_bpk-text__ZWIzZ {
    margin: 0;
}

.page-search {
    background-color: #f1f2f8;
}

.airportdep {
    margin-right: 15px;
}

.airportarriv {
    margin-left: 15px;
}